/* App.css */

/* Define color variables */
:root {
  --main-bg: #2d3436;
  --sidebar-bg: #191b1b;
  --button-bg: #00b894;
  --button-hover-bg: #09856a;
  --headline-color: #dfe6e9;
  --text-color: #2f3640;
  --spinner-color: #00b894;
  --svg-border: #636e72;
  --svg-container: #353b48;
  --svg-container-hover: #2f3640;
  --svg-conatiner-active: #4b5161;
  --svg-circle-fill: #00b894;
  --svg-circle-selected: red;
  --svg-cirlce-stroke: #dfe6e9;
  --svg-line-stroke: #dfe6e9;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: var(--main-bg); /* Dark background color */
}

/* For Webkit (Chrome, Safari) */
*::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #2e2e2e; /* color of the track */
}

*::-webkit-scrollbar-thumb {
  background-color: #555; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 2px solid #2e2e2e; /* creates padding around scroll thumb */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #555 #2e2e2e; /* thumb and track color */
}

/* Styles for the app layout */
.app-container {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Hide the scrollbar */
}

.sidebar {
  width: 15%;
  background: var(--sidebar-bg);
  position: fixed;
  top: 0;
  bottom: 0;
  min-height: 100vh; /* Full height of the viewport */
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  align-items: stretch;
  padding: 10px; /* Padding around the sidebar content */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.main-content {
  margin-left: 16%; /* Match the width of the sidebar */
  flex: 1;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: 100vh;
  overflow: hidden;
}

.svg-container {
  flex: 1;
  padding: 2rem 1rem;
  max-height: 100%;
  overflow: auto;
}

.schedule-graphs {
  padding: 2rem 1rem;
  max-height: 100%;
  overflow: auto;
}

.schedule-data {
  display: flex;

  flex-direction: column;
}

footer.navbar {
  display: flex;
  flex-direction: column;
  margin: auto 20px 25px 20px;
}
footer.navbar .footer-link {
  margin: 10px auto;
  font-size: 1.5rem;
}

/* Error Messages */
.error-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--button-bg);
  color: #2d3436;
  padding: 30px 30px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  color: black;
}
/* Button Styling */
.button,
.checkbox-label {
  background-color: var(--button-bg); /* Blue color for buttons */
  color: var(--text-color);
  font-size: 1.2rem;
  padding: 20px; /* Increased padding for more height */
  margin: 15px 10px; /* Space between buttons */
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  transition: all 1 ease-in-out;
  display: block;
}

.button:hover,
.checkbox-label:hover {
  background-color: var(--button-hover-bg); /* Darker blue on hover */
  color: var(--headline-color);
  transform: scale(1.05);
}

.checkbox-label input[type="checkbox"] {
  display: none; /* Hide the actual checkbox */
}
.checkbox-label input[type="checkbox"]:checked + span {
  text-decoration: line-through; /* Example style to show the checkbox is active */
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
}

/* Styles for the SVG container */

.svg-container svg {
  width: 100%;
  height: 100%;
  max-height: 80vh;
  border: 1px solid var(--svg-border); /* Blue border to match buttons */
  background: var(--svg-container); /* Darker background to match buttons */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow around SVG */
}

svg:hover {
  border: 1px solid var(--button-hover-bg);
  background: var(--svg-container-hover);
}

svg.active {
  border: 4px solid var(--button-bg);
  background: var(--svg-conatiner-active);
}

/* Style for nodes (circles) within the SVG */
.svg-container svg circle {
  fill: var(--svg-circle-fill); /* Fill color for the nodes */
  stroke: var(--svg-cirlce-stroke); /* Stroke color */
  stroke-width: 1px; /* Stroke width */
}
svg circle:hover {
  fill: var(--button-hover-bg);
  stroke: #00695c; /* Darker teal for stroke */
}

.svg-container svg circle.highlighted-circle {
  fill: var(--svg-circle-selected); /* Red color for selected nodes */
}

.svg-container svg circle.router {
  fill: #e67e22; /* Blue color for selected nodes */
}

.svg-container svg circle.router:hover {
  fill: #cc6600; /* Blue color for selected nodes */
  stroke: #8b4513;
}

.svg-container svg circle.sensor {
  fill: #4393e9; /* Blue color for selected nodes */
}
.svg-container svg circle.sensor:hover {
  fill: #2980b9; /* Darker blue for hover */
  stroke: #1a5276; /* Navy blue for stroke */
}

.svg-container svg circle.actuator {
  fill: #f56c51; /* Red color for selected nodes */
}

.svg-container svg circle.actuator:hover {
  fill: #e74c3c; /* Brighter red for hover */
  stroke: #8b0000; /* Dark red for stroke */
}

/* Style for text within the SVG */
.svg-container svg text {
  fill: var(--headline-color); /* White color for better contrast */
  font-size: 5px; /* Adjust as needed */
}
.svg-container svg text:hover {
  fill: var(--button-bg);
}

/* Style for edges (lines) within the SVG */
.svg-container svg line {
  stroke: var(--svg-line-stroke); /* Stroke color */
  stroke-width: 1px; /* Stroke width */
}
.svg-container svg line.highlighted-edge {
  stroke: red;
}
.svg-container svg line:hover {
  stroke: var(--button-bg);
}

.sliders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
/* Add more styles as per your preference */
.sliders span {
  color: var(--headline-color);
  margin-right: 10px;
}

h1,
h2 {
  color: var(--headline-color);
  text-align: center;
  margin-bottom: 20px;
  transition: all 1 ease-in-out;
}
h2 {
  font-size: 1.5rem;
}
h2.active {
  font-size: 1.8rem;
  color: var(--button-bg);
}

h1 {
  font-size: 2.5rem;
}
h1:hover {
  color: var(--button-hover-bg);
  font-size: 2.55rem;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: var(--svg-container);
  color: var(--headline-color);
  font-size: 1.1rem;
  padding: 20px;
  border-radius: 20px;
  width: 400px;
}
.modal-content h2 {
  text-align: center;
  color: var(--button-bg);
  margin-bottom: 20px;
}
.modal-content button {
  display: block;
  margin: 40px auto 10px auto;
  padding: 10px 40px;
}
.modal-inputs {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Creates a two-column layout */
  grid-gap: 10px; /* Adds space between rows and columns */
}
.modal-field {
  text-align: right;
  padding-right: 10px;
}
.close {
  float: right;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .sidebar {
    width: 25%;
  }
  .main-content {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 0 25%;
    max-width: 75%;
    max-height: 100vh;
    overflow: hidden;
  }
  .svg-container {
    padding: 1rem;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    border-bottom: 1px solid var(--headline-color);
  }
  .schedule-graphs {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
  }
}

@media (max-width: 700px) {
  .sidebar {
    position: static;
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: auto;
    flex-direction: row;
    overflow-x: auto;
  }
  .main-content {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  footer.navbar {
    margin: auto 10px;
    flex-direction: row;
    justify-content: center;
  }
  footer.navbar .footer-link {
    margin: 0 10px;
    font-size: 0.8rem;
  }
  .button,
  .checkbox-label {
    font-size: 1rem;
    padding: 10px;
    margin: 5px 15px;
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
  }
}
