/* App.css */

/* Define color variables */
:root {
  --main-bg: #2d3436;
  --sidebar-bg: #191b1b;
  --button-bg: #00b894 ;
  --button-hover-bg: #09856a;
  --text-color: #dfe6e9 ;
  --spinner-color: #00b894;
  --svg-border: #636e72;
  --svg-container: #353b48;
  --svg-circle-fill:#00b894;
  --svg-circle-selected:red; 
  --svg-cirlce-stroke: #dfe6e9;
  --svg-line-stroke: #dfe6e9;
  --svg-rectangle-fill: #e67e22; /* Warm orange */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: var(--main-bg);
}

/* Styles for the app layout */
.app-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh; /* Full height of the viewport */
}

.sidebar {
  width: 20%;
  background: var(--sidebar-bg);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 5px; /* Padding around the sidebar content */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}

.svg-container {
  width: 50%;
  height:100%; /* Full width of its container */
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .app-container{
    flex-direction: column;
  }
  .main-content {
    flex-direction: column;
    justify-content: center;
  }
  .sidebar{
    width:100%;
    flex-direction:row;
    overflow-x: auto;
  }
  .svg-container{
    width:100%;
    align-items: center;
    justify-content:center;

  }
}

.schedule-data {
  margin: 30px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height:100%; /* Full width of its container */
}

/* Error Messages */
.error-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--button-bg);
  color: #2d3436; 
  /*color:var(--text-color); */
  padding: 30px 30px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  color: black;
}
/* Button Styling */
.button, .checkbox-label {
  background-color: var(--button-bg); /* Blue color for buttons */
  color: var(--text-color);
  padding: 20px; /* Increased padding for more height */
  margin: 10px; /* Space between buttons */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  display: block; 
}

.button:hover,
.checkbox-label:hover {
  background-color:var(--button-hover-bg); /* Darker blue on hover */
}
.checkbox-label input[type="checkbox"] {
  display: none; /* Hide the actual checkbox */
}
.checkbox-label input[type="checkbox"]:checked + span {
  text-decoration: line-through; /* Example style to show the checkbox is active */
}

.checkbox-label span {
  text-align: center;
  vertical-align: middle; /* Align span text with the middle of the label */
}


/* Styles for the SVG container */

.svg-container svg {
  width: 100%;
  height: 100%;
  border: 1px solid var(--svg-border); /* Blue border to match buttons */
  background: var(--svg-container); /* Darker background to match buttons */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow around SVG */
}

.svg-container svg circle,
.svg-container svg line {
  transition: all 0.3s ease;
}

/* Style for nodes (circles) within the SVG */
.svg-container svg circle {
  fill: var(--svg-circle-fill); /* Fill color for the nodes */
  stroke: var(--svg-cirlce-stroke); /* Stroke color */
  stroke-width: 1px; /* Stroke width */
}

.svg-container svg g circle.highlighted-circle {
  fill: var(--svg-circle-selected); /* Red color for selected nodes */
}
.svg-container svg rect {
  fill: var(--svg-rectangle-fill); /* Fill color for the nodes */
  stroke: var(--svg-cirlce-stroke); /* Stroke color */
  stroke-width: 1px; /* Stroke width */

}

.svg-container svg g rect.highlighted-rect {
  fill: var(--svg-circle-selected); /* Red color for selected nodes */
}


/* Style for text within the SVG */
.svg-container svg text {
  fill: var(--text-color); /* White color for better contrast */
  font-size: 5px; /* Adjust as needed */
}

/* Style for edges (lines) within the SVG */
.svg-container svg line {
  stroke: var(--svg-line-stroke); /* Stroke color */
  stroke-width: 1px; /* Stroke width */
}
.svg-container svg line.highlighted-edge {
  stroke: red;
}

.sliders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
/* Add more styles as per your preference */
.sliders span {
  color: var(--text-color);
  margin-right: 10px;
}

h1, h2 {
  color: var(--text-color);
  text-align:center;
  margin-bottom: 20px;
}
